schemas/src/main/resources/Stocks.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="stocks"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:svc="http://project.mark.prv/stockservice/schemas"
                  xmlns:tns="http://project.mark.prv/stockservice/schemas"
                  targetNamespace="http://project.mark.prv/stockservice/schemas">

    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
            <xsd:import namespace="http://project.mark.prv/stockservice/schemas"
                        schemaLocation="xsd/StockTickerTypes.xsd"/>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="submitOrderRequestMessage">
        <wsdl:part element="svc:SubmitOrderRequest" name="submitOrderRequest"/>
    </wsdl:message>
    <wsdl:message name="submitOrderResponseMessage">
        <wsdl:part element="svc:SubmitOrderResponse" name="submitOrderResponse"/>
    </wsdl:message>

    <wsdl:message name="getStockPriceRequestMessage">
        <wsdl:part element="svc:GetStockPriceRequest" name="getStockPriceRequest"/>
    </wsdl:message>
    <wsdl:message name="getStockPriceResponseMessage">
        <wsdl:part element="svc:GetStockPriceResponse" name="getStockPriceResponse"/>
    </wsdl:message>


    <wsdl:portType name="StockTickerSoapPortType">

        <wsdl:operation name="submitOrder">
            <wsdl:input message="tns:submitOrderRequestMessage" name="submitOrderRequestMessage"/>
            <wsdl:output message="tns:submitOrderResponseMessage" name="submitOrderResponseMessage"/>
        </wsdl:operation>

        <wsdl:operation name="getStockPrice">
            <wsdl:input message="tns:getStockPriceRequestMessage" name="getStockPriceRequestMessage"/>
            <wsdl:output message="tns:getStockPriceResponseMessage" name="getStockPriceResponseMessage"/>
        </wsdl:operation>

    </wsdl:portType>


    <wsdl:binding name="StockTickerSoapBinding" type="tns:StockTickerSoapPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="submitOrder">
            <wsdl:input name="submitOrderRequestMessage">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="submitOrderResponseMessage">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="getStockPrice">
            <wsdl:input name="getStockPriceRequestMessage">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getStockPriceResponseMessage">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

    </wsdl:binding>


    <wsdl:service name="StockServicePortService">
        <wsdl:documentation>WSDL file for Stock Ticker SOAP application</wsdl:documentation>
        <wsdl:port binding="tns:StockTickerSoapBinding" name="StockServicePortSoap11">
            <soap:address location="http://dell-i5:12001/StockTickerSOAP/ws" />
            <!--<soap:address location="http://localhost:7001/stocks" />-->
            <!--<soap:address location="http://localhost:7001/StockTickerSOAP/soapws" />-->
            <!--<soap:address location="http://localhost:7001/StocktickerSOAP/ws/" />-->
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>