schemas/src/main/resources/StockTicker.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:svc="http://prv.mark.project/stocks/schemas/StockTickerTypes"
                  xmlns:tns="http://prv.mark.project/stocks/definitions/StockTicker"
                  targetNamespace="http://prv.mark.project/stocks/definitions/StockTicker">

    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
            <xsd:import namespace="http://prv.mark.project/stocks/schemas/StockTickerTypes"
                        schemaLocation="xsd/StockTickerTypes.xsd"/>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="SubmitOrderRequestMessage">
        <wsdl:part name="Request" element="svc:SubmitOrderRequest"/>
    </wsdl:message>
    <wsdl:message name="SubmitOrderResponseMessage">
        <wsdl:part name="Response" element="svc:SubmitOrderResponse"/>
    </wsdl:message>

    <wsdl:message name="GetStockPriceRequest">
        <wsdl:part name="Request" element="svc:GetStockPriceRequest"/>
    </wsdl:message>
    <wsdl:message name="GetStockPriceResponse">
        <wsdl:part name="Response" element="svc:GetStockPriceResponse"/>
    </wsdl:message>


    <wsdl:portType name="StocktickerPortType">

        <wsdl:operation name="SubmitOrder">
            <wsdl:input message="tns:SubmitOrderRequestMessage"/>
            <wsdl:output message="tns:SubmitOrderResponseMessage"/>
        </wsdl:operation>

        <wsdl:operation name="GetStockPrice">
            <wsdl:input message="tns:GetStockPriceRequest" name="GetStockPriceRequest"/>
            <wsdl:output message="tns:GetStockPriceResponse" name="GetStockPriceResponse"/>
        </wsdl:operation>

    </wsdl:portType>


    <wsdl:binding name="Stockticker" type="tns:StocktickerPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="SubmitOrder">
            <wsdl:input name="SubmitOrderRequestMessage">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="SubmitOrderResponseMessage">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="GetStockPrice">
            <wsdl:input name="GetStockPriceRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="GetStockPriceResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

    </wsdl:binding>


    <wsdl:service name="StocktickerService">
        <wsdl:port binding="tns:Stockticker" name="StocktickerPort">
            <soap:address location="http://localhost:7001/StocktickerSOAP/ws/" />
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>